{% extends "layout.html" %}

{% block title %}
    {{title}}
{% endblock title %}

{% block head %}
    {{ parent() }}

    <style>
        .action-bg{
            background-color: greenyellow;
            padding: 10px 20px;
            color: black;
            margin-right: 5px;
            font-weight: bolder;
        }

        .danger{
            background-color: rgb(214, 27, 27);
            color: white;
        }

        .text-bg{
            background-color: rgba(255, 255, 240, 0.6);
            padding: 10px 20px;
            color: black !important;
            font-weight: bold;
        }
    </style>
{% endblock head %}

{% block content %}
    <div id="main">
        {% for photo in photos %}
            <article class="thumb">
                <a href="/storage/{{photo.photo}}" class="image"><img src="/storage/{{photo.photo}}" alt="" /></a>
                <h2 class="text-bg">{{photo.title}}</h2>
                <p class="text-bg">{{photo.description}}.</p>
                <p><a href="/edit/{{photo.id}}" class="action-bg">Edit</a>
                <a href="/delete/{{photo.id}}" class="action-bg danger" onclick="event.preventDefault(); var x = confirm('Are you sure to delete?'); if(x){document.getElementById('{{photo.id}}').submit()}">Delete</a></p>
                <form action="delete/{{photo.id}}" method="post" id="{{photo.id}}">
                </form>
            </article>
        {% endfor %}
    </div>
{% endblock content %}